<nav>
    {{#if logged_in}}

    <a href="../dashboard" class="button-style btn" id="dashBtn">Dashboard</a>
    <a href="../post" class="button-style btn" id="postBtn">Chat</a>
    <a class="button-style btn" id="logoutBtn">Logout</a>

    {{/if}}
    <a href="../login" class="button-style btn" id="login">Login</a>
    <a href="../signup" class="button-style btn" id="chatBtn">Signup</a>
</nav>