<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css"
        integrity="sha512-HK5fgLBL+xu6dm/Ii3z4xhlSUyZgTT9tuc/hSrtw6uzJOvgRr2a9jyxxT1ely+B+xFAmJKVSTbpM/CuL7qxO8w=="
        crossorigin="anonymous" />

    <link rel="stylesheet" href="../../public/css/style.css">
    <title>Crypto Chat</title>
</head>

<body>

    <div class="post-container post z-depth-3">

        <div class="row">
            <div class="col-8">
                <h5>I'm a blog, you're a blog</h5>
                <p>Stefanie on 3/27/2021</p>
            </div>
        </div>
        <div class="row blog_content">
           <p>If I had a million dollars (If I had a million dollars)
            Well I'd buy you a house
            I would buy you a house
            And if I had a million dollars (If I had a million dollars)
            I'd buy you furniture for your house
            Maybe a nice chesterfield or an ottoman
            And if I had a million dollars (If I had a million dollars)
            Well I'd buy you a K-Car
            A nice reliant automobile
            And if I had a million dollars I'd buy your love</p>
        </div>
        <a class="waves-effect waves-light btn" id="commentBtn"><i class="far fa-comment"></i></a>

    </div>

    <div class="post-container post z-depth-3">

        <div class="row">
            <div class="col-8">
                <h5>Spotify music and crypto chat</h5>
                <p>Marsha on 1/1/2021</p>
            </div>
        </div>
        <div class="row blog_content">
           <p>In the middle of the night
            I go walking in my sleep
            From the mountains of faith
            To the river so deep
            I must be looking for something
            Something sacred I lost
            But the river is wide
            And it's too hard to cross
            Even though I know the river is wide
            I walk down every evening and I stand on the shore
            I try to cross to the opposite side
            So I can finally find out what I've been looking for</p>
        </div>
        <a class="waves-effect waves-light btn" id="commentBtn"><i class="far fa-comment"></i></a>

    </div>

</body>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>



</html>