<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css" integrity="sha512-HK5fgLBL+xu6dm/Ii3z4xhlSUyZgTT9tuc/hSrtw6uzJOvgRr2a9jyxxT1ely+B+xFAmJKVSTbpM/CuL7qxO8w==" crossorigin="anonymous" />
    <link rel="stylesheet" type="css" href="./views/public/css/style.css">
    <style>
      body {
        animation: fadeInAnimation ease 3s;
        animation-iteration-count: 1;
        animation-fill-mode: forwards;
        display: flex;
        min-height: 100vh;
        flex-direction: column;
        }
        @keyframes fadeInAnimation {
            0% {
                opacity: 0;
            }
            100% {
                opacity: 1;
            }
        }
   
      h1 {
        font-family: 'Roboto Mono', monospace;
        text-transform: uppercase;
        text-align: center;
        color: white;
      }
      h3 {
        font-family: 'Playfair Display', serif;
        text-transform: uppercase;
        padding: 20px;
      }
       h5 {
        font-family: 'Playfair Display', serif;
        text-transform: uppercase;
        padding: 20px;
        color: #35b729;
      }
      p {
        font-family: 'Lora', serif;
        font-size: 1.3rem;
      }
      .button-style {
        color:white;
        background-color: #4f4f4d;
        border-radius: 4px;
        font-family: 'Lora', serif;
        letter-spacing: 1.5px;
        text-align: center;
        margin-right: 20px;
      }
      .button-style:hover {
        background-color:#35b729;
      }
      .nav-style {
        background-color: black;
        padding: 20px;
        text-align: center;
        margin-bottom: 100px;
      }
      #footer-style {
        background-color: black;
        margin-bottom: 0px;
      }
      #footer-style2 {
        margin-top: 0px;

      .post-style {
        padding: 50px;
        font-family: 'Playfair Display', serif; 
      }
      #login-style {
        padding: 50px;
        margin-bottom: 100px;
       background-color: white;
      }
      #crypto-img {
        background-image: url('./images/crypto.png');
      }
      #grey-background {
        background-color: #8B8B8B;
      }
      #white-background {
        background-color: white;
        padding: 20px;
      }
      .bitcoin {
        width: 100%;
        height: 100%;
      }
    </style>

  <title>Crypto Chat</title>
</head>
<main>
<body>
  <header class="nav-style">
    {{!-- <img src="./images/crypto chat.png" alt="Crypto Chat"> --}}
    <video class="responsive-video" width="320" height="240" autoplay>
      <source src="./images/crypto chat.mp4" type=video/mp4>
    </video>
    {{!-- <h1 class="display-3">Crypto Chat</h1> --}}
    {{!-- <nav> --}}
      {{!-- <div class="nav-wrapper nav-style center"> --}}
        {{!-- <div class="row" id="nav-mobile nav-style">        --}}

        {{#if logged_in}}
        <nav>
          <a href="../dashboard" class="button-style btn" id="dashBtn">Dashboard</a>
          <a href="../post" class="button-style btn" id="postBtn">Chat</a>
          <a class="button-style btn" id="logoutBtn">Logout</a>
                  </nav>
          
         {{else}}
         <nav>
          <a href="../login" class="button-style btn" id="login">Login</a>
          <a href="../signup" class="button-style btn" id="chatBtn">Signup</a>
         </nav>
          {{/if}}
        {{!-- </div> --}}
      {{!-- </div> --}}
    {{!-- </nav> --}}
  </header>
  {{{ body }}}

<!-- Render script for logged in users only -->
  {{#if logged_in}}
  <script src="/js/logout.js"></script>
  {{/if}}
</body>
<br>
<br>
<br>
<br>
<br>
</main>
<footer id="footer-style" class="page-footer"> 
    
    <div class="row">
      <div class="col l6 s12 center">
    <img src="./images/crypto chat-2.png" alt="Crypto Chat" width="200" height="200">
      </div>
      <div class="col l4 offset-l2 s12">
          <ul>
            <li><a class="grey-text text-lighten-3" href="/">Home</a></li>
            <li><a class="grey-text text-lighten-3" href="../dashboard">Dashboard</a></li>
            <li><a class="grey-text text-lighten-3" href="../post">Chat</a></li>
            <li><a class="grey-text text-lighten-3" href="../login">Login</a></li>
          </ul>
      </div>
      <div class="row">
         <div class=" col s12 center">
        <a href="https://stefanieklogan.github.io/Homework2ResponsivePortfolio/index.html" target="_blank"><img src="./images/logo-4.png" alt="Crypto Chat" width="250" height="250"></a>
        <a href="https://marisanesmith.github.io/responsive_portfolio/" target="_blank"><img src="./images/logo-5.png" alt="Crypto Chat" width="250" height="250"></a>
        <a href="#" target="_blank"><img src="./images/logo-6.png" alt="Crypto Chat" width="250" height="250"></a>
      </div>
      </div>
    </div>
    <div id="footer-style2"class="row">
      {{!-- <div class="center">
        <img src="./images/logo-4.png" alt="Crypto Chat" width="250" height="250">
        <img src="./images/logo-5.png" alt="Crypto Chat" width="250" height="250">
        <img src="./images/logo-6.png" alt="Crypto Chat" width="250" height="250">
      </div> --}}
     <div class="s12 white-text center">
          © 2021 crypto chat
    </div>
    </div>
  </footer>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

</html>