<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <link rel="stylesheet" type="css" href="../../public/css/style.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css"
    integrity="sha512-HK5fgLBL+xu6dm/Ii3z4xhlSUyZgTT9tuc/hSrtw6uzJOvgRr2a9jyxxT1ely+B+xFAmJKVSTbpM/CuL7qxO8w=="
    crossorigin="anonymous" />
  <style>
    .card-panel {
      padding: 1px !important;
    }

    body {
      animation: fadeInAnimation ease 3s;
      animation-iteration-count: 1;
      animation-fill-mode: forwards;
      display: flex;
      min-height: 100vh;
      flex-direction: column;
    }

    @keyframes fadeInAnimation {
      0% {
        opacity: 0;
      }

      100% {
        opacity: 1;
      }
    }

    h1 {
      font-family: 'Roboto Mono', monospace;
      text-transform: uppercase;
      text-align: center;
    }

    h3 {
      font-family: 'Roboto Mono', monospace;
      text-transform: uppercase;
      padding: 10px;
    }

    h4 {
      font-family: 'Roboto Mono', monospace;
      text-transform: uppercase;
      color: black;
    }

    h5 {
      font-family: 'Roboto Mono', monospace;
      text-transform: uppercase;
      padding: 20px;
      color: black;
      text-align: center;
    }

    a {
      color: black;
      text-align: center;
      font-size: 1.2rem;
    }

    a:hover {
      color: #35b729;
    }

    p {
      font-family: 'Playfair Display', serif;
      font-size: 1.3rem;
      text-align: center;
    }

    nav {
      background-color: black;
    }

    .line {
      color: #35b729;
      width: 200px;
    }

    .button-style {
      color: white;
      background-color: #4f4f4d;
      border-radius: 4px;
      font-family: 'Lora', serif;
      letter-spacing: 1.5px;
      text-align: center;
      margin-right: 20px;
    }

    .button-style:hover {
      background-color: #35b729;
      color: black;
    }

    .button-style:active {
      transform: translateY(-5px);
      transition: 2sec;
    }

    .nav-style {
      background-color: black !important;
      padding: 20px;
      text-align: center;
      margin-bottom: 30px;
    }

    .margin-btm {
      margin-bottom: 40px;

        {
          {
          !-- margin-left: 265px;
          --
        }
      }

      justify-content: center;
    }

    #footer-style {
      background-color: black;
      margin-bottom: 0px;
    }

    #footer-style2 {
      margin-top: 0px;
    }

    #footer-style3 {
      margin-top: 15px;
      font-family: 'Roboto Mono', monospace;
    }

    #link {
      font-family: 'Roboto Mono', monospace;
    }

    #blog-content {
      margin-right: 50px;
      margin-left: 50px
    }

    .post-style {
      padding: 5px;

      font-family: 'Playfair Display', serif;
    }

    #dash-style {
      margin-bottom: 50px;
    }

    #login-style {
      padding: 50px;
      margin-bottom: 100px;
      background-color: white;
    }

    #grey-background {
      background-color: #8B8B8B;
    }

    #white-background {
      background-color: white;
      padding: 20px;
    }
  </style>
  <title>Crypto Chat</title>
  {{!-- <link rel="icon" type="image/jpg" href="../../public/images/cryptofavico.png"> --}}
</head>

<header class="nav-style">
  <video class="responsive-video" width="300" height="150" muted autoplay>
    <source src="/images/crypto2.mp4" type="video/mp4">
  </video>
  {{#if logged_in}}
  <nav id="nav-mobile nav-style">
    <a href="/" class="button-style btn" id="homeBtn">Home</a>
    <a href="../dashboard" class="button-style btn" id="dashBtn">Chat</a>
    <a href="../post" class="button-style btn" id="postBtn">Post</a>
    <a href="../userposts" class="button-style btn" id="dashBtn">Dashboard</a>
    <a class="button-style btn" id="logoutBtn">Logout</a>
  </nav>
  {{else}}
  <nav id="nav-mobile nav-style">
    <a href="../login" class="button-style btn" id="login">Login</a>
    <a href="../signup" class="button-style btn" id="chatBtn">Signup</a>
  </nav>
  {{/if}}
  {{!-- </div> --}}
  {{!-- </div> --}}
  {{!-- </nav> --}}
</header>

<body id="grey-background">
  <!-- Render script for logged in users only -->
  <div class="container">
    <main>
      {{{ body }}}
    </main>
  </div>
  {{#if logged_in}}
  <script src="/js/logout.js"></script>
  {{/if}}
</body>

<!--  F O O T E R -->
<footer id="footer-style" class="page-footer">
  <div class="row">
    <div class="col l6 s12 center">
      <img src="./images/crypto chat-2.png" alt="Crypto Chat" width="200" height="200">
    </div>
    <div id="footer-style3" class="col l4 offset-l2 s12">
      <ul>
        {{#if logged_in}}
        <li><a class="grey-text text-lighten-3" href="../crypto">Crypto</a></li>
        <li><a class="grey-text text-lighten-3" href="../post">Post</a></li>
        <li><a class="grey-text text-lighten-3" href="../dashboard">Chat</a></li>
        <li><a class="grey-text text-lighten-3" href="../userposts">Dashboard</a></li>
        {{else}}
        <li><a class="grey-text text-lighten-3" href="../login">Login</a></li>
        <li><a class="grey-text text-lighten-3" href="../signup">Sign Up</a></li>
        {{/if}}
      </ul>
    </div>
    <div class="row">
      <div class=" col s12 center">
        <a href="https://stefanieklogan.github.io/Homework2ResponsivePortfolio/index.html" target="_blank"><img
            src="/images/logo-4.png" alt="Crypto Chat" width="250" height="250"></a>
        <a href="https://marisanesmith.github.io/responsive_portfolio/" target="_blank"><img src="/images/logo-5.png"
            alt="Crypto Chat" width="250" height="250"></a>
        <a href="https://raquellee.github.io" target="_blank"><img src="/images/logo-6.png" alt="Crypto Chat"
            width="250" height="250"></a>
      </div>
    </div>
  </div>
  <div id="footer-style2" class="row">
    <div class="s12 white-text center">
      © 2021 Crypto Chat
    </div>
  </div>
</footer>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

</html>