<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" href="../../public/css/style.css">
    <title>Crypto Chat</title>
</head>

<body>
    <header>
        <h1 class="display-3 center">Crypto Chat</h1>
        <nav>
            <div class="nav-wrapper">
              <ul id="nav-mobile" class="center">
                <a class="waves-effect waves-light btn" id="homeBtn">Home</a>
                <a class="waves-effect waves-light btn" id="dashBtn">Dashboard</a>
                <a class="waves-effect waves-light btn" id="chatBtn">Chat</a>
                <a class="waves-effect waves-light btn" id="loginBtn">Login</a>
                <a class="waves-effect waves-light btn" id="logoutBtn">Logout</a>
              </ul>
            </div>
          </nav>
    </header>
    <br>
    <div class="container post z-depth-3">

        <div class="row">
            <div class="col-8">
                <h3>My first post</h3>
            </div>

            <div class="col-4">
                <h5>3/23/2021</h5>
            </div>
        </div>
        <div class="row blog_content">
            Crypto currency is the hottest currency to-date. Are you ready to invest?
        </div>
        <a class="waves-effect waves-light btn" id="commentBtn">Comment</a>

    </div>
    <br>

    <div class="container post z-depth-3">

        <div class="row">
            <div class="col-8">
                <h3>My second post</h3>
            </div>

            <div class="col-4">
                <h5>1/23/2021</h5>
            </div>
        </div>
        <div class="row blog_content">
            Crypto currency is exploding!
        </div>
        <a class="waves-effect waves-light btn" id="commentBtn">Comment</a>


    </div>

</body>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

</html>