{{!-- data from cryptoRoutes.js API --}}
{{!-- bar w/coin data generated:
url for photo of coin from cc api
price
% change - color whether + or - --}}
<div class ="container">
    <div class="row">
        <div class="col">
            <div class="card card-panel hoverable">
                {{#manipulated}}
                    <h1>{{SYM}}</h1>
                {{/manipulated}}
            </div>
        </div>
    </div>
</div>
