{{!-- work in progress, get bar done first, refer to apitest --}}
<span class="card-title">.rank, .name</span>
                <div class="card content">
                    <p>
                        .description
                    </p>
                    </div> 
                    <div class="collection">
                        <a class="collection-item" target="_blank" href=".links.reddit">
                            <i class="fab fa-facebook-f"></i>
                        </a>
                        <a class="collection-item" target="_blank" href=".website">
                            <i class="fab fa-facebook-f"></i>
                        </a>
                        <a class="collection-item" target="_blank" href=".website">
                            <i class="fab fa-facebook-f"></i>
                        </a>
                        <a class="collection-item" target="_blank" href=".website">
                            <i class="fab fa-facebook-f"></i>
                        </a>
                        <a class="collection-item" target="_blank" href=".website">
                            <i class="fab fa-facebook-f"></i>
                        </a>
                    </div>
                    if website
                    if facebook 
                    if reddit
                    if source_code
                    if youtube