{{!-- data from cryptoRoutes.js API --}}
{{!-- bar w/coin data generated:
url for photo of coin from cc api
price
% change - color whether + or - --}}
<div class ="container">
    <div class="row">
        <div class="col">
            <div class="card card-panel hoverable">
                <h1>{{{json.0.name}}}</h1>
                //for each item in array do this
                {{#json}}
                    <div>{{name}}</div>
                {{/json}}
            </div>
        </div>
    </div>
</div>
<img src="https://www.cryptocompare.com.DISPLAY.SYM.USD.IMAGEURL">
<script src="./js/crypto.js"></script>