
{{#each posts as |post|}}
    <body id="grey-background">
    <div id="dash-style" class="container">
    <div id="white-background" class="post-style">
    <div class="row post-style">
        <div class="col-8">
            <h5>{{post.title}}</h5>
             <hr class="line">
            <p>Posted by {{user.name}} on {{format_date post.date_created}}</p>
        </div>
    </div>
    <div id="blog-content" class="row blog_content">
        <p>{{post.content}}</p>
    </div>
    <a class="button-style btn commentBtn margin-btm" id="commentBtn"><i class="far fa-comment"></i> Leave a Comment</a>
<div class="row comment-container hide" id="comment">
    <div class="input-group">
        <span class="input-group-text">Comment:</span>
        <textarea id="commentID" class="form-control" aria-label="With textarea"></textarea>
    </div>

    <div>
        <button type="submit" class="button-style btn saveCommentBtn margin-btm"><i class="far fa-save"></i></button>
    </div>

</div>
</div>
</div>
{{/each}}
<script src="./js/comment.js"></script>