 {{#each posts as |post|}}
    <div class="post-container post z-depth-3">

        <div class="row">
            <div class="col-8">
                <h5>{{post.title}}</h5>
                <p>Posted by {{user.name}} on {{format_date post.date_created}}</p>
            </div>
        </div>
        <div class="row blog_content">
           <p>{{post.content}}</p>
        </div>
        <a class="waves-effect waves-light btn" id="commentBtn"><i class="far fa-comment"></i></a>

    </div>
    {{/each}}