    <div class="container post z-depth-3">

        <div class="row">
            <div class="col-8">
                <h3>{{title}}</h3>
                <h4>Author</h4><p>, </p><h4>{{date_created}}</h4>
            </div>

        </div>
        <div class="row blog_content">
           {{content}}
        </div>
        <a class="waves-effect waves-light btn" id="commentBtn"><i class="far fa-comment"></i></a>

    </div>