 {{#each posts as |post|}}
    <body id="grey-background">
    <div id="white-background" class="post-container post z-depth-3 post-style">

        <div class="row">
            <div class="col-8">
                <h5>{{post.title}}</h5>
                <p>Posted by {{user.name}} on {{format_date post.date_created}}</p>
            </div>
        </div>
        <div class="row blog_content">
           <p>{{post.content}}</p>
        </div>
        <a class="button-style btn" id="commentBtn"><i class="far fa-comment"></i> Leave a Comment</a>

    </div>
    </body>
    {{/each}}