<div class="row center">
    <div class="col s12">
        <div id="white-background">
            <div class="card-content white-black">
                <h3><span class="card-title">Be You, Be Heard. Let's Chat</span></h3>
                <hr class="line">
                <p>Our mission is to bring crypto currency investors, enthusiasts and you together. Every day we
                    connect relevant chat articles you need to better understand crypto currency. We invite you to join
                    us on the journey to
                    a better financial tomorrow! Sign up or log in to join the conversation.</p>
            </div>
        </div>
    </div>
</div>
<div class="row">
    {{#each manipulated}}
    <div class="col s12 m4 l3">
        <div class="card card-panel hoverable center">
            <h4>{{SYM}}
            </h4>
            <img src="https://www.cryptocompare.com{{IMAGEURL}}" width="100" height="100">
            <h5 class="truncate" style="color: #35b729;"><b>{{PRICE}}</b></h5>
        </div>
    </div>
    {{/each}}
</div>