<div class="container center">
    <div class="row center">
        <h6><i class="fas fa-coins"></i> Welcome back! <i class="fas fa-coins"></i></h6>
        <form class="col l4 m6 s4 center signup">
            
            <div class="row">
                <div class="input-field col s12 offset-s12">
                    <input id="email" type="email" class="validate">
                    <label for="email">Email</label>
                </div>
            </div>

            <div class="row">
                <div class="input-field col s12 offset-s12">
                    <input id="password" type="password" class="validate">
                    <label for="password">Password</label>
                </div>
            </div>
           
        </form>
        
    </div>
    <a class="waves-effect waves-light btn"><i class="fas fa-sign-in-alt"></i></a>
    <br>
    <br>
    <br>
    <h5><a href=”xxxxxxx”>New user? Click here to create account</a></h5>
    </div>