<div class="row center ">
    <div class="col s12">
        <div class="card">
            <div class="card-content">
                <h5 class="card-title">
                    Welcome back</h5>
                <hr class="line">
                <form class="signup">
                    <div class="row">
                        <div class="input-field col s12">
                            <input id="email-login" type="email" class="validate">
                            <label for="email">Email</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field">
                            <input id="password-login" type="password" class="validate">
                            <label for="password">Password</label>
                        </div>
                    </div>
                    <div>
                        <button type="submit" class="login-form button-style btn"> Login</button>
                    </div>
                    <section> <br><a class="center" href="../signup">New user? Click here to create account</a>
            </div>
            </section>
            </form>
        </div>
    </div>
</div>
<script src="/js/login.js"></script>