<div class="container center">
    <div class="row center">
        <h5><i class="fas fa-coins"></i> Welcome back! <i class="fas fa-coins"></i></h5>
    </div>
    <div class="row">
        <form class="col l4 m6 s4 center login">
            <div class="row center">
                <div class="input-field col s12 offset-s12">
                    <input id="email-login" type="email" class="validate">
                    <label for="email">Email</label>
                </div>
            </div>

            <div class="row">
                <div class="input-field col s12 offset-s12">
                    <input id="password-login" type="password" class="validate">
                    <label for="password">Password</label>
                </div>
            </div>
        </form>
    </div>

    <div class="row">
        <button type="submit" id="login-form" class="waves-effect waves-light btn"><i
                class="fas fa-sign-in-alt"></i></button>
    </div>
    <br>

    <div class="row">
        <a href="../signup">
            <h5>New user? Click here to create account</h5>
        </a>
    </div>
</div>
<script src="./js/login.js"></script>