<body id="grey-background">
    <div class="container">
        <div class="row">
            <div class="col s6">
                <img class="responsive-img" src="./images/bitcoin.png" alt="bitcoin">
            </div>
            <div id="login-style" class="col s6">
                <h5 class="center"> Welcome back!</h5>
            <form class="m6 signup">
                <div class="row">
                    <div class="input-field">
                        <input id="email-login" type="email" class="validate">
                        <label for="email">Email</label>
                    </div>
                </div>

                <div class="row">
                    <div class="input-field">
                        <input id="password-login" type="password" class="validate">
                        <label for="password">Password</label>
                    </div>
                </div>
                    <button type="submit" class="login-form button-style btn"> Login</button>
            </form>
            </div>
        </div>
    </div>
        <h5 class="center"><a href="../signup">New user? Click here to create account</a></h5>
</body>


    <script src="./js/login.js"></script>
