<div class="row">
    <div class="col s12">
        <div class="card">
            <div class="card-content">
                <h3 class="center-align"> Chat Corner </h3>
                <p>Share &amp; interact with our Crypto Chat community!</p>
                <form action='post_create' method="POST" class="center post new-post-form">
                    <div class="input-field col s12">
                        <input id="post-Title" type="text" name="create_post_title">
                        <label for="name">Title</label>
                    </div>
                    <div class="input-field col s12">
                        <textarea id="post-description" class="materialize-textarea" name="create_post_desc"></textarea>
                        <label for="textarea1">Summary</label>
                    </div>
                    <p>All views are those of the author.</p>
                    <div class="section">
                        <button type="submit" class="button-style btn center save">Create Post</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <script src="/js/post.js"></script>