<div class="row center ">
    <div class="col s12">
        <div class="card">
            <div class="card-content">
                <h5 class="card-title">
                    <i class="fab fa-bitcoin"></i>
                    Welcome new user
                    <i class="fab fa-bitcoin"></i>
                </h5>
                <hr class="line">
                <form class="signup">
                    <div class="row">
                        <div class="input-field col s12">
                            <input id="username-signup" type="text" class="validate">
                            <label for="name">Name</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s12">
                            <input id="email-signup" type="email" class="validate">
                            <label for="email">Email</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s12">
                            <input id="password-signup" type="password" class="validate">
                            <label for="password">Password</label>
                        </div>
                    </div>
                    <button type="submit" id="signup-form" class="button-style btn">
                        Sign Up
                    </button>
                    <section><br>
                        <a href="../login">Returning user? Click here to login</a>
                    </section>
                </form>
            </div>
        </div>
    </div>
</div>
<script src="/js/signup.js"></script>