.post {
    padding: 20px;
}

.post-container {
    margin: 50px;
}

.blog_content {
    font-style: italic;
}

.nav-wrapper {
    color: rgb(50, 50, 92);
}

body {
    background-color: rgb(223, 250, 250);
}

.signup {
    border-radius: 55em;
}